body
{
   background-color: #11324d;
   font-family: 'Open Sans', sans-serif;
}
.headingFont
{
   font-family:'Titillium Web', sans-serif;
}
.col1
{
    background-color: #f6f6f6
}
.ft1
{
   font-size: 1.5vw;
}
.boxes
{
     border: 1px solid red;
     margin-top: 45px;
     padding:10px;
     background : white;
     border: none;
     box-shadow: 0px 0px 3px 0px lightgray
}
.icon
{
    width: 3vw;
    height: 3vw
}
b
{
    margin-left: 10px;
    font-size: 20px
}
.box1
{
    height: 100%;background:#2fb1fc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white
}
.box1Heading
{
    background-color: #64b4c8;
    color: white;
    text-transform: uppercase;
    padding: 2px;
    border-radius: 2px;
} 
.paddingZeroPixel
{
    padding: 0px;
}
.fullHeight
{
    height: 100%;
}
#outerlayer
{
    margin:1px;margin-top:40px;height: 65vh
}

.HeadingTag1
{
     margin: 15px auto;width: 70%
}
.box1Button
{
     background: none;border: none;color: white
}
.box1Image
{
    width: 20px
}
.col31
{
    background-image: url('../images/DL-Learning-1.jpg');font-size:3.5vw;background-repeat: no-repeat;background-size: 100% 100%;display: flex;justify-content: center;align-items: center;color:white
}
.col32
{
    background-image: url('../images/DL-Technology.jpg');font-size:3.5vw;background-repeat: no-repeat;background-size: 100% 100%;display: flex;justify-content: center;align-items: center;color:white
}
.col33
{
    background-image: url('../images/DL-Communication.jpg');font-size:3.5vw;background-repeat: no-repeat;background-size: 100% 100%;display: flex;justify-content: center;align-items: center;color:white
}
.colorWhite
{
    color: white;
}
.height1
{ 
    height: 65vh;
}